
.card-formulario {
    max-width: 600px;           
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}


.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}


input, textarea {
    width: 100%;
}


small {
    color: #e24c4c;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    display: block;
}


.botones {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}


::ng-deep .p-select {
    width: 100%;
}