
.accion-superior {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.tablaPersonajes {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.botones-accion {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.sin-datos {
    text-align: center;
    margin-top: 2rem;
    color: #666;
}



.botones-accion {
    display: flex;
    justify-content: center;
    gap: 5px;
}


button {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-rojo { background-color: #ffcccc; color: #cc0000; }
.btn-amarillo { background-color: #ffffcc; color: #999900; }
.btn-verde { background-color: #ccffcc; color: #006600; }
.btn-naranja { background-color: #ffe5cc; color: #cc6600; }


.fila-baja {
    background-color: #f2f2f2; 
    color: #999;
}